@font-face{ 
    font-family: NightinTokyo; 
    src:url(./assets/fonts/night-in-tokyo.bold.ttf);
}

body {
    color : #ffffff;
    background-color: rgb(2, 16, 34);
}

.container-fluid {
    height: 100vh;
    max-width: 100%;
    padding: 0;
    margin : 0;
}

.banner {
 height: 100vh;
 background-image: url("./assets/img/rod-long-kImU-9S9uh8-unsplash.jpg");
 background-size: cover;
 max-width: 100%;
 display: flex;
 flex-direction: column;
 
}
.navbar-wrapper {
    width: 100%;

}
.navbar{
    background-color: rgb(0, 0, 0,0.6);

}

.navbar-nav {
    position: absolute;
    top : 0;
    display: flex;
}

.nav-item {
    font-size: 25px;
    list-style-type: none;
    color: #ffffff;
    padding-left: 20px;
}

.nav-item a:visited {
    color:rgb(184, 179, 245);
}

.title-banner{
    position: relative;
    top:0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: NightinTokyo;
    font-size: 80px;
    color : white;
    text-align: center;    
}
.row{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.category_title {
    font-family: NightinTokyo;
    font-size: 80px;
    text-align: left;
    margin: 30px 60px;
}

.subheading {
    font-family: NightinTokyo;
    font-size: 30px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 50%;
    padding-left: 50px;
    /*background-color: yellowgreen;*/
    
}


.about_picture {
    width: 50%;
    background-image: url("./assets/img/the-blackrabbit-Sf4hgdtnHXk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    max-width: 100%;
}


.about_text {
    font-size: 20px;
    margin: 20px 55px;    
    text-align: left;
    word-spacing: 3px;
    line-height: 40px;
}

.order_button {
    width : 100px;
    margin: 30px 50px;
}

.order_link {
    color: white;
}

.order_link:hover {
    color:rgb(250, 250, 250,);
    text-decoration: none;
}


.contact {
    height: 110vh;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-image: url("./assets/img/pexels-mister-vampire-4248239.jpg");
    background-color: rgb(2, 16, 34);
    background-size: cover;
    background-position: top center;
}

.contact_title{
    margin-left: 60px;
}

.contact_info {
    display: flex;
    flex-direction: row;
}

.adress {
    width: 50%;
    padding-right: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map {
    padding-left: 250px;
}

.timetable{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.timetable_list {
    list-style-type: none;
    word-spacing: 3px;
    line-height: 50px;
}

footer {
    background-color: rgb(2, 11, 24);
    display: flex;
    flex-direction: column;
}

#credits, #social_links {
display: flex;
justify-content: center;
margin: 20px 0;
}

#fb,#twitter {
    margin-left: 50px;
}

#policies {
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
}



/*------------------------------------ MENU.HTML-----------------------------*/

.banner_menu {
    height: 40vh;
    background-image: url("./assets/img/pexels-irina-edilbaeva-4703909.jpg");
    background-size: cover;
    background-position: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.card {
    min-width: 18%;
    max-width: 20%;
    height: 320px;
    color: #fff;
	position: relative;
	border-style : none;
}

.card:hover .overlay {
  height: 100%;
}

.card-container {
    display: flex;
    margin: 50px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 100%;
    column-gap: 20px;
    row-gap: 100px;
    column-gap: 80px;
}

.img_card {
	display: block;
	width : 100%;
	height : 100%;
	border-radius : 40px 40px 1px 1px;
	
}
.img-container{
	width : 250px;
	height : auto;
	box-sizing : border-box;
}

.card-body p {
	padding: 10px;
}

.price {
	text-align: center;
  font-size : 20px;
}

.card-text p {
  font-size: 5px;
  margin-bottom: 20px;
	overflow : hidden;
	font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-title {
	text-align : center;
	font-size : 15px;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #EF5350;
  overflow: hidden;
  width: 100%;
  height: 50px;
  transition: .5s ease;
  border-radius : 40px 40px 1px 1px;
}

.sushiheader {
    max-width: 100%;
    height: 300px;
}

.badges {
    display: flex;
}

.badge {
    background-color: firebrick;
    color : white;
    margin: 10px;
    font-size: large;
    border-style: none;
    outline: none;
}



.badge:focus {
    outline: none;
}

.badge:hover {
    background-color: rgb(139, 25, 25);
}

/*------------------------------------ CONTACT PAGE-----------------------------*/
.banner_contact {
    height: 40vh;
    background-image: url("./assets/img/cath-smith-U3FD3M8mCC0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.main_contact {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#map_contact {
    display: flex;
    justify-content: center;
}

.contact_us{
display: flex;
width: 50%;
justify-content: center;
}