@font-face{ 
    font-family: NightinTokyo; 
    src:url(./assets/fonts/night-in-tokyo.bold.ttf);
}

body {
    color : #ffffff;
    background-color: rgb(2, 16, 34);
}

.banner {
 height: 100vh;
 background-image: url("./assets/img/rod-long-kImU-9S9uh8-unsplash.jpg");
 background-size: cover;
 max-width: 100%;
 display: flex;
 flex-direction: column;
}
.navbar-wrapper {
    width: 100%;
}

.navbar-nav {
    position: absolute;
    top : 0;
    display: flex;
    justify-content: space-between;
}

.title-banner{
    position: relative;
    margin: auto;
    width: 100%;
    height: 150px;
    background-color: rgb(0, 0, 0,0.5);
}

.title {
    color : white;
    text-align: center;
    margin-top: 50px;
}
.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    row-gap: 20px;
}

.category_title {
    font-family: NightinTokyo;
    font-size: 80px;
    text-align: left;
    margin: 30px 60px;
}

.subheading {
    font-family: NightinTokyo;
    font-size: 30px;
}

.about {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 45%;
    height: 100vh;
    /*background-color: yellowgreen;*/
    padding: 70px;
}


.about_picture {
    width: 40%;
    padding: 70px;
    display: flex;
    flex-direction: column;
}


.about_text {
    font-size: 20px;
    margin: 20px 55px;    
    text-align: left;
    word-spacing: 3px;
    line-height: 40px;
}

.order_button {
    width : 100px;
    margin: 30px auto;
}

.order_link {
    color: white;
}

.order_link:hover {
    color:rgb(250, 250, 250,);
    text-decoration: none;
}

#bowl{
    height: 300px;
    width: 400px;
    margin: auto;
}

#sushi1{
    height:80px;
    width: 150px;
    transform: rotate(-30deg);
}

#sushi2{
    height: 80px;
    width: 150px;
    transform: rotate(-35deg);
}

#sushi3{
    height: 120px;
    width: 150px;
    transform: rotate(-30deg);
}

.contact {
    height: 82vh;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.contact_title{
    margin-left: 90px;
}

.contact_info {
    display: flex;
    flex-direction: row;
}

.adress {
    width: 50%;
    padding-right: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map {
    padding-left: 250px;
}

.timetable{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.timetable_list {
    list-style-type: none;
    word-spacing: 3px;
    line-height: 50px;
}

footer {
    background-color: rgb(2, 11, 24);
    display: flex;
    flex-direction: column;
}

#credits, #social_links {
display: flex;
justify-content: center;
margin: 20px 0;
}

#fb,#twitter {
    margin-left: 50px;
}

#policies {
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
}
